# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store

# Common VCS dirs
.bzr/
.bzrignore
.git/
.gitignore
.hg/
.hgignore
.svn/

# Common backup files
*.bak
*.orig
*.swp
*.tmp
*~

# Various IDEs
.idea/
.project
.vscode/
*.tmproj
