## NEXUS CONFIGURATION (OPTIONAL)
#
# For npm audit use: 'npm audit --registry=https://registry.npmjs.org'
# see: https://stackoverflow.com/questions/57427279/how-to-configure-nexus-repository-manager-to-support-npm-audit
#
######################################################################

# registry = https://nexus-ods.apps.OPENSHIFT_DOMAIN_DEV/repository/npmjs/
# strict-ssl = false

registry = https://registry.npmjs.org/
strict-ssl = true
